<div class="profile-main">
    <h1><%= user.firstname %>'s Profile</h1>
    <div class="row">
        <div class="col s12">
            <p><strong>Full Name: </strong><%= user.firstname%> <%= user.lastname%></p>
            <p><strong>User Bio: </strong><%= user.bio %></p>
            <form method="GET" action="profile/edit">
                <button class="btn btn-primary" type="submit">Edit Bio</button>
            </form>
            <p><strong>My Favorite Beers:</strong></p>
            <ul>
                <% brews.forEach((brew) => { %>
                    <li><a href="/beer/<%=brew.id%>"><%= brew.name %></a></li>
                    <form method="POST" action="/profile?_method=DELETE">
                        <button name="beerId" value="<%= brew.id %>" class="btn btn-primary" type="submit">Delete</button>
                    </form>
                <% }) %>
            </ul>
            <p><strong>My Favorite Tacos:</strong></p>
            <ul>
                <% tacos.forEach((taco) => { %>
                    <li><a href="/taco/<%=taco.id%>"><%= taco.name %></a></li>
                    <form method="POST" action="/profile?_method=DELETE">
                        <button name="tacoId" value="<%= taco.id %>" class="btn btn-primary" type="submit">Delete</button>
                    </form>
                <% }) %>
            </ul>
        </div>
    </div>
</div>